@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
footer{
    background-color: #6E4729;


}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2rem;
    color: #6E4729;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #6E4729;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: white;
    margin:20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    text-decoration: underline;
}

.footer-bottom{
    text-align: center;
    color: white;
    background-color: #352214;
    padding: 10px;
}

.designer{
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5px;
}

@media (max-width:760px){
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

