<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NextRead| MustRead</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mustread.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="banner">
        <div class="navbar">
<!--            <span class= "bars-btn fa fa-bars"></span>-->
            <a href="{{ url_for('index1') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></a>
            <ul>
                <li><a href="/lists">Books</a></li>
                <li><a href="/trend">Trending</a></li>
                 <li><a href="/results">Recommend</a></li>
<!--                <li><a href="#">Login</a></li>-->

            </ul>
        </div>
</div>
<h1>TOP 50 BOOKS OF ALL TIME</h1>
<div class="container1">
    <div class="row">
        {% for i in range(book_name|length) %}
        <div class="col-md-3">

            <div class="flip-card">
              <div class="flip-card-inner">
               <div class="flip-card-front">
                   <img src="{{image[i]}}" alt="" style="width:150px;height:220px;" >
    </div>
    <div class="flip-card-back">
      <h1>{{book_name[i]}}</h1>
      <p>{{author[i]}}</p>
<div id="starRating{{ i }}"></div>
    </div>
  </div>
</div>
  </div>

<script>
            document.addEventListener("DOMContentLoaded", function () {
    function displayStarRating(rating, containerId) {
        const ratingContainer = document.getElementById(containerId);
        ratingContainer.innerHTML = ''; // Clear previous stars

        for (let j = 1; j <= 5; j++) {
            const star = document.createElement('span');
            star.className = `fa fa-star${j <= rating ? ' checked' : ''}`;
            ratingContainer.appendChild(star);
        }
    }

    // Example usage: displayStarRating(3, 'starRating0');
    // Replace 3 with your actual rating data, and 'starRating0' with the appropriate container id

    {% for i in range(book_name|length) %}
        displayStarRating({{ rating[i] }}, 'starRating{{ i }}');
    {% endfor %}
});
</script>

        {% endfor %}
    </div>
</div>


<!--<div class="footerbottom">-->
<!--            <p>Copyright &copy;2024; Designed by <span class="designer">NextRead</span></p>-->
<!--        </div>-->

</body>
</html>